{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url("sun.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}



.btn1:hover{
	background-color: background;
	color: black;
	width: auto;
}
.btn2:hover{
	background-color: white;
	color: black;
	width: auto;
}
.btn3:hover{
	background-color: white;
	color: black;
	width: auto;
}
.btn4:hover{
	background-color: white;
	color: black;
	width: auto;
}
.btn5:hover{
	background-color: background;
	color: black;
	width: auto;
}

	


.btn1,.btn2,.btn3,.btn4,.btn5{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




.content{
	position: absolute;
	width: 900px;
	min-height: 500px;
	height: auto;
	right: 0;
	top: 10%;
}


.clockstyle{
	position:fixed;
	top: 30px;
	right: 25px;
	font-family: serif;
	width:auto;
	height:auto;
	border: 3px solid black;
	color: white;
	font-size: 20px;
	padding: 0 10px;
	background-color:#306eff;
	
}

.content h2{
	background-color:#306eff;
	border: 3px solid black;
	position:fixed;
	top: 0;
	right: 20px;
	width:auto;
	height:auto;
	color: red;
	font-size: 20px;
	padding: 0 10px;
	
}

.home{
	position: absolute;
	top:500px;
	right: 0;
	bottom: -100px;
	color: blue;
	font-family: serif;
	visibility:visible;
	height:auto;
}
.home h1{
	font-size: 70px;
	padding-right: 90px;
	border-bottom: 2px solid black;
	text-transform: uppercase;
}

.home h3{
	font-style: italic;
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}
.aboutus{
	position: absolute;
	right: 0;
	top: 10px;
	color: blue;
	font-family: century;
	padding: 0 60px;
	visibility:hidden;
	
	
}
.aboutus p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
}
.gallery{
	position: absolute;
	right: -10px;
	top: 10px;
	color: white;
	padding: 0 60px;
	visibility:hidden;
	
	
}
.gallery .image{
	width: 31%;
	margin: 1%;
	float: left;
}

.image img{
	width: 100%;
	border-radius:10px;
}
.image img:hover{
	width: 100%;
	transform:translateY(-5px);
}


.story{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	font-family: century;
	padding: 0 60px;
	visibility:hidden;
}
.story p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
	color:blue;
}
.story .react{
	border:4px solid black;
	width:440px;
	padding: 0 60px;
	background-color: white;
}
	
	
	
.story .react h5{font-size: 28px;
	line-height: 28px;
	margin-bottom: 15px;
	color: green;
	
}
.story .react .smg1{
	width: 11%;
	height:8%;
	margin-bottom: 10%;
	display:inline-block;
}
.story .react .smg2{
	width: 6%;
	height:6%;
	margin-bottom: 10%;
	display:inline-block;
	
	
}


.feedback{
	position: absolute;
	right: 0;
	top: 10px;
	color: white;
	padding: 0 60px;
	visibility:hidden;
	
}

.inputtext{
	width: 55%;
	height: 65px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	padding: 0 10px;
	float: left;
	margin-bottom: 15px;
}
.inputmessage{
width: 55%;
	height: 135px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	padding: 0 10px;
	float: left;
}
.submitbutton{
	width: 160px;
	height: 65px;
	font-family: arial;
	background-color: white;
	color: black;
	font-size: 28px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
	margin-top: 25px;
}
.submitbutton:hover{
	background-color:black;
	color:white;
}

.contactme{
	position: absolute;
	right: 10px;
	top: 100px;
	color: white;
	font-family: century;
	visibility:hidden;
}

.contactme .img{
	float:left;
	top:10%;
	left:-30%;
}
.img .a{
	border: 3px solid black;
	border-radius:8px;
	padding: 5px;
	height:9%;
	width:9%;
	margin:10px;	
}
.img .b{
	border: 3px solid black;
	border-radius:8px;
	padding: 5px;
	height:9%;
	width:9%;	
	margin:10px;
}
.img .c{
	border: 3px solid black;
	border-radius:8px;
	padding:-5px;
	height:10%;
	width:10%;	
	margin:10px;
}
.img .d{
	border: 3px solid black;
	border-radius:8px;
	padding: 5px;
	height:9%;
	width:9%;	
	margin:10px;
}

.contactme .para img{
	position:relative;
	left:30px;
	margin-right: 20px;
}
.para p{
	margin-left:-20px;
	font-size:22px;
	color:blue;
	position:relative;
	top:-30px;
	left:100px;
}









